<h1>あなたの写真一覧</h1>
<% unless session[:tweet_access_token].present? %>
  <p>
    <%= link_to "Twitterに連携する", oauth_authorize_url, rel: "noopener" %>
  </p>
<% else %>
  <p>連携済み</p>
<% end %>
<%= link_to "写真をアップロード", new_photo_path %>
<%= link_to "ログアウト", logout_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>

<% @photos.each do |photo| %>
  <div>
    <h3><%= photo.title %></h3>
    <%= image_tag photo.image %><br>

    <% if session[:tweet_access_token].present? %>
      <%= button_to "ツイートする", tweet_photo_path(photo), method: :post %>
    <% end %>
  </div>
<% end %>