<%= link_to "ログアウト", logout_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>
<h1>写真アップロード</h1>

<% if @photo.errors.any? %>
  <ul class="error-messages">
    <% @photo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @photo, local: true, data: { turbo: false } do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="form-actions">
    <%= f.submit "アップロード" %>
    <%= link_to "キャンセル", photos_path, class: "cancel-link" %>
  </div>
<% end %>
